$primary: #ff6600;
$secondary: #f2f1f8;
$light: #ffffff;
$dark: #44425a;

$font-family-sans-serif: 'Poppins', sans-serif;

$body-color: #6c6a74;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$border-radius: 8px;

$breadcrumb-bg: transparent;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: #fff;
$breadcrumb-active-color: #fff;
$breadcrumb-divider: none;

$display4-weight: 600;
